.app_cont {
    display: flex;
    width: 1100px;
    height: 600px;
    background-color: #88b684;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.form_cont fieldset {
    border-color: chocolate;
    width: fit-content;
}

.form_type {
    display: flex;
    width: 40px;
    min-inline-size: 40px;
    overflow: hidden;
    transition: all .7s ease-out;
}

.form_cont {
    display: flex;
    background-color: rgb(54, 54, 54);
    width: 1100px;
    height: 130px;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid #000;
    /* margin-left: 10px; */
    box-sizing: border-box;
    flex-wrap: wrap;
}

.form_cont legend {
    font-size: 1.15rem;
    color: #e2e2e2;
    border: 1px solid chocolate;
    background-color: transparent;
}

[data-form-inp]~legend {
    color: #e2e2e2;
    border: 1px solid chocolate;
    background-color: transparent;
}

.form_inp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    width: 1000px;
    height: 60px;
}

.output {
    display: flex;
    width: 1090px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #000;
    background-color: transparent;
    margin-top: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
}

.out_block {
    display: flex;
    width: 98%;
    height: 65px;
    background: rgb(54, 54, 54);
    color: beige;
    flex-direction: row;
    margin: 2px;
    justify-content: space-between;
}

.block_data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.block_data span {
    display: flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    /* outline: 1px solid beige; */
    padding: 4px;
    /* border-left: 1px solid rgb(255, 255, 255); */
    /* border-right: 1px solid rgb(255, 255, 255); */
}

.block_check>input[type='button'] {
    margin-left: 20px;
}

input[name=summ] {
    width: 80px;
    font-weight: 800;
}

.ls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    border: 1px solid #000;
    width: 400px;
    height: fit-content;
    flex-direction: column;
    flex-wrap: nowrap;
}

.ls>ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
}