    .app_cont {
        display: flex;
        width: 1100px;
        height: 600px;
        background-color: #88b684;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    
    .form_cont fieldset {
        display: flex;
        border-color: chocolate;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    
    fieldset.form_options {
        position: relative;
        display: flex;
        min-inline-size: 40px;
        overflow: visible;
        z-index: 5;
        transition: all .3s ease-out;
        flex-flow: column;
        height: max-content;
    }
    
    .maxdl {
        background-color: #88b684;
    }
    
    .form_options::before {
        content: url('../assets/arrow_2.svg');
        position: absolute;
        width: 20px;
        height: auto;
        top: 40px;
        margin-left: 5px;
        transform: rotate(180deg);
        transition: all .3s ease-in;
    }
    
    .form_options::after {
        transition: all .3s ease-in;
        content: url('../assets/arrow_2.svg');
        position: absolute;
        width: 20px;
        height: auto;
        top: 45px;
        margin-right: 15px;
        right: 0;
        transform: rotate(0deg);
    }
    
    .form_options:hover:before {
        transform: rotate(270deg);
    }
    
    .form_options:hover::after {
        transform: rotate(-90deg);
    }
    
    .block_options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        max-width: 200px;
        height: 80px;
        gap: 5px;
        justify-content: space-between;
        align-content: center;
    }
    
    .block_options__elem {
        font-size: .9rem;
        border: 1px inset rgb(187, 76, 56);
        box-sizing: content-box;
        padding: 0px 2px;
        margin: 0px 1px;
    }
    
    .form_options:hover {
        background-color: rgb(54, 54, 54);
        height: max-content;
    }
    
    .droplist {
        display: none;
        appearance: none;
    }
    
    ul.color {
        display: flex;
        height: min-content;
        flex-flow: row;
        flex-wrap: nowrap;
        color: beige;
        padding: 0;
        margin-top: 0;
    }
    
    .form_options:hover .droplist:not(.color) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: flex-start;
        color: beige;
        gap: 5px;
        margin-block-start: 5px;
        padding-inline-start: 5px;
    }
    
    .droplist :is(li,
    label) {
        appearance: none;
        cursor: pointer;
        list-style: none;
    }
    
    .form_cont {
        display: flex;
        background-color: rgb(54, 54, 54);
        width: 1100px;
        height: 150px;
        flex-direction: row;
        justify-content: flex-start;
        border: 2px solid #000;
        /* margin-left: 10px; */
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    
    .form_cont legend {
        width: 100%;
        display: flex;
        font-size: 1.15rem;
        color: #e2e2e2;
        border: 1px solid #d2691e;
        background-color: transparent;
        flex-direction: row;
        align-content: stretch;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .form_cont input {
        text-align: center;
    }
    
    .form_cont legend[name=inputs] {
        width: 80%;
        height: 1.6rem;
    }
    
    [data-form-inp]~legend {
        color: #e2e2e2;
        border: 1px solid chocolate;
        background-color: transparent;
    }
    
    .form_inp {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: stretch;
        width: 100%;
        height: 60px;
    }
    
    .output {
        display: flex;
        width: 1090px;
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        border: 2px solid #000;
        background-color: transparent;
        margin-top: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: flex-start;
        align-items: center;
    }
    
    .out_block {
        display: flex;
        width: 100%;
        height: 80px;
        background: rgb(54, 54, 54);
        color: beige;
        flex-direction: row;
        margin: 2px;
        justify-content: space-between;
    }
    
    .block_data {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        font-size: 15px;
    }
    
    .block_control label {
        cursor: url('../assets/arrow_2.svg'), pointer;
    }
    
    .block_control input[type='button']:is([disabled]) {
        margin-left: 20px;
    }
    
    .block_control input[type='button']:not([disabled]) {
        margin-left: 20px;
        cursor: pointer;
    }
    
    input[name=summ] {
        width: 80px;
        font-weight: 800;
    }
    
    .form_cont .form_summ {
        width: 85px;
        min-inline-size: 85px;
    }
    
    .ls {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        border: 1px solid #000;
        width: 400px;
        height: fit-content;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .ls>ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        align-content: flex-start;
    }
    
    .elem_hide {
        display: none;
    }
    
    .preview_field {
        display: flex;
        width: 1100px;
        border: 1px solid #000;
        height: auto;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }